In [1]:
import datetime

In [8]:
t = datetime.time(14,20,15,30)

In [9]:
t

datetime.time(14, 20, 15, 30)

In [10]:
t.hour

14

In [11]:
t.minute

20

In [12]:
print(t)

14:20:15.000030

In [13]:
t.microsecond

30

In [14]:
type(t)

datetime.time

In [15]:
today = datetime.date.today()

In [16]:
print(today)

2024-12-30

In [17]:
today.year

2024

In [18]:
today.month

12

In [19]:
today.ctime()

'Mon Dec 30 00:00:00 2024'

In [20]:
from datetime import datetime

In [21]:
mydatetime = datetime(2024, 12, 10, 11, 30, 40)

In [22]:
print(mydatetime)

2024-12-10 11:30:40

In [24]:
mydatetime = mydatetime.replace(year=2025)

In [26]:
print(mydatetime)

2025-12-10 11:30:40

In [27]:
from datetime import date

In [28]:
date1 = date(2024,12,30)
date2 = date(2023,12,30)

In [30]:
result = date1-date2

In [31]:
result.days

366

In [33]:
datetime1 = datetime(2024, 12, 30, 12, 0, 0)
datetime2 = datetime(2024, 12, 30, 2, 0, 0)

In [37]:
diff = datetime1 - datetime2

In [38]:
diff.seconds

36000

In [40]:
diff.total_seconds()

36000.0

In [41]:
x = datetime.now()

In [42]:
print(x)

2024-12-30 11:59:04.734323

In [54]:
print(x.year)
print(x.strftime("%A"))
print(x.strftime("%a"))
print(x.strftime("%B"))
print(x.strftime("%b"))
print(x.strftime("%Y"))
print(x.strftime("%y"))
print(x.strftime("%m"))
print('Hour (0-23): ',x.strftime("%H"))
print('Hour (0-12): ',x.strftime("%I"))
print('AM/PM: ',x.strftime("%p"))
print('Day: ',x.strftime("%d"))

2024
Monday
Mon
December
Dec
2024
24
12
Hour (0-23):  11
Hour (0-12):  11
AM/PM:  AM
Day:  30