### Python Basic (Part -I)

149. Cube Sum of Smaller Integers

In [4]:
def func(num):
    sum = 0

    for i in range(1,num+1):
        sum += i ** 3
    return sum

print(func(3))
print(func(5))

36
225

150. Odd Product Pair Checker

In [5]:
def check(num):
    for i in num:
        if i % 2 != 0:
            for j in num:
                if j % 2 != 0 and i != j:
                    return True
    return False

In [6]:
print(check([2, 4, 6, 8]))
print(check([1, 6, 4, 7, 8]))
print(check([1, 3, 5, 7, 9]))

False
True
True

### Python Basic (Part -II)

149. NxN Square of Integer

In [1]:
def display(num):
    if num > 0:
        return [[num]*num]*num
    else:
        return []
    
display(3)

[[3, 3, 3], [3, 3, 3], [3, 3, 3]]

150. Cube Root Reduction Steps

In [2]:
def steps(num):
    count = 0

    while num >= 3:
        count += 1
        num = num ** (1/3)

    return count

steps(10000)

2

### Python Programming Puzzles

99. Replace Spaces with Underscore and Hyphen

In [4]:
def f(s):
    return s.replace('-','   ').replace('_',' ')

print(f('Python_Exercises'))
print(f('-Hello,_world!__This_is-so-easy!-'))

Python Exercises
   Hello, world!  This is   so   easy!

100. Four Even Integers Summing to n

In [5]:
def f(num):
    return [num-6, 2, 2, 2]

f(1234567890)

[1234567884, 2, 2, 2]

### Mastering Python

99. Remove all whitespaces from a string.

In [34]:
s = " a b c d "
new_s = s.replace(' ', '')
print(new_s)

abcd

100. Replace all occurrences of a substring in a string.

In [6]:
s = "Hello world, Hello Python"
new_s = s.replace('Hello', 'Hiiii')
print(new_s)

Hiiii world, Hiiii Python

### Python Conditional statements and loops

43. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [7]:
n = 5

for i in range(1,10):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

44. Write a Python program to construct the following pattern, using a nested loop number.

In [16]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i,sep='',end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

### Recursion

10. Write a Python program to calculate the value of 'a' to the power of 'b' using recursion.

In [19]:
def p(num, t):
    if t == 0:
        return 1
    return num * p(num, t-1)

p(5,3)

125

11. Write a Python program to find the greatest common divisor (GCD) of two integers using recursion.

In [32]:
def gcd(num1, num2, n=None):
    if num1%n == 0 and num2%n == 0:
        return n
    
    return gcd(num1,num2,n-1)

n1 = 16
n2 = 60
n = min(n1,n2)
gcd(n1,n2,n)

4

### Python Data Types - String

113. Sort words alphabetically by first character.

In [37]:
s = "Red Green Black White Pink"
print(' '.join(sorted(s.split())))

Black Green Pink Red White

### Python JSON

9. Write a Python program to access only unique key value of a Python object.

In [38]:
import json
json_obj = '{"a":  1, "a":  2, "a":  3, "a": 4, "b": 1, "b": 2}'

py_obj = json.loads(json_obj)

print(py_obj)

{'a': 4, 'b': 2}

### Python Data Types - List

280. Find Pairs Differing by Three

In [46]:
l = [0, -3, -5, -7, -8]
res = []

for i in range(len(l)):
    for j in range(i+1,len(l)):
        if abs(l[i] - l[j]) == 3 and i != j:
            res.append([l[i],l[j]])
            break
print(res)

[[0, -3], [-5, -8]]

### Python Data Types - List Advanced

15. Write a Python program to find all the pairs in a list whose sum is equal to a given value.

In [48]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 10
res = []

for i in range(len(l)):
    for j in range(i,len(l)):
        if l[i] + l[j] == target and i != j:
            res.append((l[i], l[j]))

print(res)

[(1, 9), (2, 8), (3, 7), (4, 6)]

### Python Data Types - Dictionary

80. Write a Python program to find the key of the maximum value in a dictionary.

In [59]:
d = {'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}

# new_d = sorted(d.items(), key= lambda k:k[1])

print(max(d,key=d.get))
print(min(d,key=d.get))

Roxanne
Theodore

### Python Data Types - Tuple

33. Write a Python program to convert a given list of tuples to a list of lists.

In [61]:
l1 = [(1, 2), (2, 3), (3, 4)]
print([list(i) for i in l1])

l2 = [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
print([list(i) for i in l2])

[[1, 2], [2, 3], [3, 4]]
[[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

### Python Data Types - Sets

30. Write a Python program to remove all duplicates from a given list of strings and return a list of unique strings. Use the Python set data type.

In [62]:
strs = ["Python", "Exercises", "Practice", "Solution", "Exercises"]

s = set(strs)

print(list(s))

['Practice', 'Exercises', 'Solution', 'Python']

### Python Data Types - Collections

36. Write a Python program to compare two unordered lists (not sets).

In [65]:
from collections import Counter
n1 = [20, 10, 30, 10, 20, 30]
n2 = [30, 20, 10, 30, 20, 50]

if Counter(n1) == Counter(n2):
    print('True')
else:
    print('False')

False

### Python Array

24. Write a Python program to find the missing number in a given array of numbers between 10 and 20.

In [66]:
l = [10, 11, 12, 13, 14, 16, 17, 18, 19, 20]

for i in range(10,21):
    if i not in l:
        print(i)

15

### Python Enum

5. Write a Python program to get unique enumeration values.

In [68]:
from enum import Enum
class Countries(Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    India = 355
    USA = 213

for c in Countries:
    print(c.name , c.value)

Afghanistan 93
Albania 355
Algeria 213
Andorra 376
Angola 244