#### Python built-in Modules

- Module - random

9. Write a Python program to set a random seed and get a random number between 0 and 1. Use random.random.

In [10]:
import random

random.seed(42)
print(random.random())
print(random.random())
print()
random.seed(100)
print(random.random())
print(random.random())
print()
random.seed(42)
print(random.random())
print(random.random())

0.6394267984578837
0.025010755222666936

0.1456692551041303
0.45492700451402135

0.6394267984578837
0.025010755222666936

- Module - types

2. Write a Python program to check if a given value is a method of a user-defined class. Use types.MethodType()

In [11]:
import types

class A:
    def x():
        return 1
    def y():
        return 1    
        
def b():
    return 2

print(isinstance(A().x, types.MethodType))
print(isinstance(A().y, types.MethodType))
print(isinstance(b, types.MethodType))
print(isinstance(max, types.MethodType))
print(isinstance(abs, types.MethodType))

True
True
False
False
False

- Module - decimal

In [21]:
from decimal import *
getcontext().prec = 6
print(Decimal(1) / Decimal(7))
getcontext().prec = 10
print(Decimal(1) / Decimal(7))

0.142857
0.1428571429

In [27]:
Decimal('7.5').quantize(Decimal(), rounding=ROUND_HALF_DOWN)

Decimal('7')

In [32]:
Decimal('7.5').quantize(Decimal(), rounding=ROUND_HALF_UP)

Decimal('8')

5. Write a Python program that can be configured to round to the nearest - with ties going towards 0 and ties going away from 0. Use decimal.ROUND_HALF_DOWN, decimal.ROUND_HALF_UP

In [33]:
import decimal

decimal.getcontext().prec = 1
decimal.getcontext().rounding = decimal.ROUND_HALF_DOWN
print(decimal.Decimal(10) / decimal.Decimal(4))

decimal.getcontext().prec = 1
decimal.getcontext().rounding = decimal.ROUND_HALF_UP
print(decimal.Decimal(10) / decimal.Decimal(4))

2
3

- Module - copy

4. Write a Python program to create a deep copy of a given dictionary. Use copy.copy

In [34]:
import copy
nums_x = {"a":1, "b":2, 'cc':{"c":3}}
print("Original dictionary: ", nums_x)
nums_y = copy.deepcopy(nums_x)
print("\nDeep copy:")
print(nums_y)
print("\nChange in original:")
nums_x["cc"]["c"] = 10
print(nums_x)
print("\nDeep copy:")
print(nums_y)

nums = {"x":1, "y":2, 'zz':{"z":3}}
nums_copy = copy.deepcopy(nums)
print("\nOriginal dictionary :")
print(nums)
print("\nDeep copy:")
print(nums_copy)
print("\nChange in original:")
nums["zz"]["z"] = 10
print("\nFirst dictionary:")
print(nums)
print("\nDeep copy:")
print(nums_copy)

Original dictionary:  {'a': 1, 'b': 2, 'cc': {'c': 3}}

Deep copy:
{'a': 1, 'b': 2, 'cc': {'c': 3}}

Change in original:
{'a': 1, 'b': 2, 'cc': {'c': 10}}

Deep copy:
{'a': 1, 'b': 2, 'cc': {'c': 3}}

Original dictionary :
{'x': 1, 'y': 2, 'zz': {'z': 3}}

Deep copy:
{'x': 1, 'y': 2, 'zz': {'z': 3}}

Change in original:

First dictionary:
{'x': 1, 'y': 2, 'zz': {'z': 10}}

Deep copy:
{'x': 1, 'y': 2, 'zz': {'z': 3}}

- Module - csv

6. Write a Python program to write (without writing separate lines between rows) and read a CSV file with a specified delimiter. Use csv.reader

In [1]:
import csv     
with open("./Datasets and Files/test.csv", "w", newline='') as f:
    writer = csv.writer(f, delimiter='=')
    writer.writerow(["a","b","c"])
    writer.writerow(["d","e","f"])
    writer.writerow(["g","h","i"])
 
with open("./Datasets and Files/test.csv", "r") as f:
    reader = csv.reader(f, delimiter='=')
    for row in reader:
        print(row)

['a', 'b', 'c']
['d', 'e', 'f']
['g', 'h', 'i']

#### Python Operating System Services

12. Write a Python program to test whether a given path exists or not. Find the filename and directory portion of the path if it exists.

In [4]:
import os

print("path exists or not:")
path = r'../GFG_Practice/15_File Handling Exercises'
print(os.path.exists(path))


print("\nFile name of the path:")
print(os.path.basename(path))

print("\nDir name of the path:")
print(os.path.dirname(path))

path exists or not:
True

File name of the path:
15_File Handling Exercises

Dir name of the path:
../GFG_Practice

#### Python Math

93. Write a Python program that takes an integer and rearranges the digits to create two maximum and minimum numbers.

In [9]:
def test(n):
    temp = []
    for e in str(n):
        temp.append(e)
        max_num = "".join(sorted(temp)[::-1])
        min_num = "".join(sorted(temp))        
    return int(max_num), int(min_num)
                                      
n = 1254
print("number:", n)
print("Maximum and Minimum Numbers:",test(n))

n = 9090
print("\nOriginal number:", n)
print("Maximum and Minimum Numbers:",test(n))

n = 100
print("\nOriginal number:", n)
print("Maximum and Minimum Numbers:",test(n))

number: 1254
Maximum and Minimum Numbers: (5421, 1245)

Original number: 9090
Maximum and Minimum Numbers: (9900, 99)

Original number: 100
Maximum and Minimum Numbers: (100, 1)

#### Python Requests

7. Write a Python program to send some sort of data in the URL's query string.

In [10]:
import requests
payload = {'key1': 'value1', 'key2': 'value2'}
print("Parameters: ",payload)
r = requests.get('https://www.example.com/', params=payload)
print(r.url)

payload = {'key1': 'value1', 'key2': ['value2', 'value3']}
print("Parameters: ",payload)
r = requests.get('https://www.example.com/', params=payload)
print(r.url)

Parameters:  {'key1': 'value1', 'key2': 'value2'}
https://www.example.com/?key1=value1&key2=value2
Parameters:  {'key1': 'value1', 'key2': ['value2', 'value3']}
https://www.example.com/?key1=value1&key2=value2&key2=value3

#### Python SQLite Database

In [1]:
import sqlite3

conn = sqlite3.connect('py.db')
cur = conn.cursor()
print('DB Connected..')

query = 'select sqlite_version();'
cur.execute(query)

res = cur.fetchall()
print(res)

DB Connected..
[('3.45.3',)]

In [2]:
import sqlite3
conn = sqlite3.connect('data.db')
cur = conn.cursor()

cur.execute('''
CREATE TABLE tab1
             (NAME TEXT NOT NULL,
             AGE INT NOT NULL)
''')

In [3]:
cur.execute('INSERT INTO tab1 VALUES ("Meet", 20)')
cur.execute('INSERT INTO tab1 VALUES ("Jay", 19)')

cur.execute('SELECT * FROM tab1')

for data in cur:
    print(data)

conn.commit()

conn.close()

('Meet', 20)
('Jay', 19)

In [5]:
conn = sqlite3.connect('data.db')
cur1 = conn.cursor()
cur1.execute('SELECT * FROM tab1')

res = cur1.fetchall()
for r in res:
    print(r)

conn.commit()

conn.close()

('Meet', 20)
('Jay', 19)

In [9]:
conn = sqlite3.connect('data.db')
cur1 = conn.cursor()
cur1.execute('SELECT * FROM tab1 WHERE NAME LIKE "M%"')

res = cur1.fetchall()
for r in res:
    print(r)

conn.commit()

conn.close()

('Meet', 20)

In [12]:
conn = sqlite3.connect('data.db')
cur1 = conn.cursor()
cur1.execute('UPDATE tab1 SET AGE = 21 WHERE NAME = "Jay"')
cur1.execute('SELECT * FROM tab1')
print(cur1.fetchall())

conn.commit()

conn.close()

[('Meet', 20), ('Jay', 21)]

In [13]:
conn = sqlite3.connect('data.db')
cur1 = conn.cursor()
cur1.execute('DELETE from tab1 WHERE NAME = "Meet"')
cur1.execute('SELECT * FROM tab1')
print(cur1.fetchall())

conn.commit()

conn.close()

[('Jay', 21)]

10. Write a Python program to update all the values of a specific column of a given SQLite table.

In [ ]:
import sqlite3

c = sqlite3.connect('test.db')
cur = c.cursor()

cur.execute('DROP TABLE IF EXISTS salesman')

cur.execute('''CREATE TABLE salesman(salesman_id n(5), name char(30), city char(35), commission decimal(7,2));''')

cur.executescript("""
    INSERT INTO salesman VALUES(5001,'James Hoog', 'New York', 0.15);
    INSERT INTO salesman VALUES(5002,'Nail Knite', 'Paris', 0.25);
    INSERT INTO salesman VALUES(5003,'Pit Alex', 'London', 0.15);
    INSERT INTO salesman VALUES(5004,'Mc Lyon', 'Paris', 0.35);
    INSERT INTO salesman VALUES(5005,'Paul Adam', 'Rome', 0.45);
    """)

print("Before:")
print(cur.execute('SELECT * FROM salesman').fetchall())

cur.execute('UPDATE salesman SET city="NEW CITY" where commission > 0.30')

print("After:")
print(cur.execute('SELECT * FROM salesman').fetchall())

c.commit()
c.close()

Before:
[(5001, 'James Hoog', 'New York', 0.15), (5002, 'Nail Knite', 'Paris', 0.25), (5003, 'Pit Alex', 'London', 0.15), (5004, 'Mc Lyon', 'Paris', 0.35), (5005, 'Paul Adam', 'Rome', 0.45)]
After:
[(5001, 'James Hoog', 'New York', 0.15), (5002, 'Nail Knite', 'Paris', 0.25), (5003, 'Pit Alex', 'London', 0.15), (5004, 'Mc Lyon', 'NEW CITY', 0.35), (5005, 'Paul Adam', 'NEW CITY', 0.45)]