#### Python Numbers

11. Create a Python project to perform some simple statistics on a list of values.

In [8]:
import statistics as s

lst = [6, 6, 10, 15 , 9 , 8, 17, 5]

print('Mean: ', s.mean(lst))
print('Median: ', s.median(lst))
print('Mode: ', s.mode(lst))
print('Sample Standard Deviation: ', s.stdev(lst))
print('Population Standard Deviation: ', s.pstdev(lst))
print('Sample variance of data.: ', s.variance(lst))
print('Population variance of data: ', s.pvariance(lst))

Mean:  9.5
Median:  8.5
Mode:  6
Sample Standard Deviation:  4.375255094603872
Population Standard Deviation:  4.092676385936225
Sample variance of data.:  19.142857142857142
Population variance of data:  16.75

#### Python Web Programming

4. Create a Python project to get the current stock price of specified companies.

In [25]:
import requests
import bs4

In [144]:
url = 'https://finance.yahoo.com/quote/MSFT/'
res = requests.get(url)

In [145]:
soup = bs4.BeautifulSoup(res.text, 'lxml')

In [146]:
comapny_name = soup.select('.yf-xxbei9')[1].getText()
comapny_name

'Microsoft Corporation (MSFT)'

In [147]:
soup.select('.livePrice.yf-1tejb6')[0].getText()

'424.56'

In [121]:
def get_data(tickers):
    for ticker in tickers:
        res = requests.get(f'https://finance.yahoo.com/quote/{ticker}/')
        soup = bs4.BeautifulSoup(res.text, 'lxml')
        comapny_name = soup.select('.yf-xxbei9')[1].getText()
        stock_price = soup.select('.livePrice.yf-1tejb6')[0].getText()
        print(comapny_name, stock_price)

In [148]:
l = ['AAPL', 'RELIANCE.NS', 'MSFT'] 
get_data(l)

Apple Inc. (AAPL) 242.70
Reliance Industries Limited (RELIANCE.NS) 1,219.45
Microsoft Corporation (MSFT) 424.56

#### 100 Python Projects for Beginners with solution.

7. Alarm Clock: Design a simple alarm clock application that allows users to set alarms.

In [ ]:
import datetime
import time

def alarm(wakeup_time):
    is_running = True

    while is_running:
        curr_time = datetime.datetime.now()
        curr_time = curr_time.strftime("%H:%M:%S")
        print('Current Time: ',curr_time)

        if(curr_time == wakeup_time):
            print("Wake Up!!")
            is_running = False

        time.sleep(1)

if __name__ == '__main__':
    input_time = input("Enter Time (HH:MM:SS): ")
    alarm(input_time)

Python Projects: Novel Coronavirus (COVID-19)

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('./01-02-2021.csv')
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-03 05:22:52,33.93911,67.709953,52586,2211,41727,8648,Afghanistan,135.084102,4.204541
1,NaN,NaN,NaN,Albania,2021-01-03 05:22:52,41.15330,20.168300,58991,1190,34353,23448,Albania,2049.864480,2.017257
2,NaN,NaN,NaN,Algeria,2021-01-03 05:22:52,28.03390,1.659600,100159,2769,67611,29779,Algeria,228.407338,2.764604
3,NaN,NaN,NaN,Andorra,2021-01-03 05:22:52,42.50630,1.521800,8166,84,7463,619,Andorra,10568.821588,1.028655
4,NaN,NaN,NaN,Angola,2021-01-03 05:22:52,-11.20270,17.873900,17608,407,11189,6012,Angola,53.574686,2.311449

2. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [16]:
res = df.groupby('Country_Region')[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum().reset_index()
res

           Country_Region  Confirmed  Deaths  Recovered  Active
0             Afghanistan      52586    2211      41727    8648
1                 Albania      58991    1190      34353   23448
2                 Algeria     100159    2769      67611   29779
3                 Andorra       8166      84       7463     619
4                  Angola      17608     407      11189    6012
..                    ...        ...     ...        ...     ...
195    West Bank and Gaza     140287    1446     120403   18438
196  Winter Olympics 2022          0       0          0       0
197                 Yemen       2101     610       1396      95
198                Zambia      21230     392      18942    1896
199              Zimbabwe      14491     377      11363    2751

[200 rows x 5 columns]