#### Pandas Data Series

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [5]:
import pandas as pd

ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

d = ds1 + ds2 
print(d)

d = ds1 - ds2 
print(d)

d = ds1 * ds2 
print(d)

d = ds1 / ds2 
print(d)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [7]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

print("Original DataFrame")
print(df)

s1 = df['col1']

print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [9]:
import pandas as pd
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print(nums,'\n')

print(nums.idxmin())
print(nums.idxmax())

0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64

9
4

#### Pandas DataFrame

6. Write a Pandas program to select the specified columns and rows from a given data frame.

In [23]:
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df.iloc[[1,2,3,4], [2,3]])

   attempts qualify
b         3      no
c         2     yes
d         3      no
e         2      no

81. Write a Pandas program to get lowest n records within each group of a given DataFrame.

In [21]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

print()

df1 = df.nsmallest(3, 'col1')
print(df1)

df2 = df.nsmallest(3, 'col2')
print(df2)

df3 = df.nsmallest(3, 'col3')
print(df3)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
   col1  col2  col3
5    11     0    11
0     1     4     7
1     2     5     5
   col1  col2  col3
4     7     5     1
1     2     5     5
0     1     4     7

#### Pandas Index

25. Write a  Pandas program to start index with different value rather than 0 in a given DataFrame.

In [26]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32]})
     
print("Original DataFrame:")
print(df)
print("\nDefault Index Range:")
print(df.index)
df.index += 10 
print("\nNew Index Range:")
print(df.index)
print("\nDataFrame with new index:")
print(df)

Original DataFrame:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      37
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Default Index Range:
RangeIndex(start=0, stop=6, step=1)

New Index Range:
RangeIndex(start=10, stop=16, step=1)

DataFrame with new index:
   school_code class            name date_of_birth  weight
10        s001     V  Alberto Franco    15/05/2002      35
11        s002     V    Gino Mcneill    17/05/2002      37
12        s003    VI     Ryan Parkes    16/02/1999      33
13        s001    VI    Eesha Hinton    25/09/1998      30
14        s002     V    Gino Mcneill    11/05/2002      31
15        s004    VI    David Parkes    15/09/1997      32

26. Write a Pandas program to select rows by filtering on one or more column(s) in a multi-index dataframe.

In [36]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32],
    'tcode': ['t1', 't2', 't3', 't4', 't5', 't6']}) 

df.set_index(['school_code', 'tcode'])
print(df,'\n')

print(df.query("tcode == 't1'"), '\n')
print(df.query("weight == 35"), '\n')

  school_code class            name date_of_birth  weight tcode
0        s001     V  Alberto Franco    15/05/2002      35    t1
1        s002     V    Gino Mcneill    17/05/2002      37    t2
2        s003    VI     Ryan Parkes    16/02/1999      33    t3
3        s001    VI    Eesha Hinton    25/09/1998      30    t4
4        s002     V    Gino Mcneill    11/05/2002      31    t5
5        s004    VI    David Parkes    15/09/1997      32    t6

  school_code class            name date_of_birth  weight tcode
0        s001     V  Alberto Franco    15/05/2002      35    t1

  school_code class            name date_of_birth  weight tcode
0        s001     V  Alberto Franco    15/05/2002      35    t1

#### Pandas String and Regular Expression

41. Write a Pandas program to remove the html tags within the specified column of a given DataFrame.

In [37]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def remove_tags(string):
    result = re.sub('<.*?>','',string)
    return result

df['with_out_tags']=df['address'].apply(lambda cw : remove_tags(cw))
print("\nSentences without tags':")
print(df)

Original DataFrame:
                       address
0    9910 Surrey <b>Avenue</b>
1          92 N. Bishop Avenue
2  9910 <br>Golden Star Avenue
3        102 Dunbar <i></i>St.
4     17 West Livingston Court

Sentences without tags':
                       address             with_out_tags
0    9910 Surrey <b>Avenue</b>        9910 Surrey Avenue
1          92 N. Bishop Avenue       92 N. Bishop Avenue
2  9910 <br>Golden Star Avenue   9910 Golden Star Avenue
3        102 Dunbar <i></i>St.            102 Dunbar St.
4     17 West Livingston Court  17 West Livingston Court

#### Pandas Joining and merging DataFrame

14. Write a Pandas program to merge two given dataframes with different columns.

In [44]:
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})

print("Original DataFrames:")
print(df1)

print(df2)
print("\nMerge two dataframes with different columns:")
result = df1.combine_first(df2)
print(result)

Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
   A    B
0  1  3.0
1  1  NaN
2  3  3.0

Merge two dataframes with different columns:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0

#### Pandas Grouping and Aggregating

In [72]:
df = pd.DataFrame({
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5004,5003,5002,5004,5001]})


print("Original Orders DataFrame:")
print(df,'\n')


result = df.groupby('salesman_id')['ord_date'].min()

print(result)

Original Orders DataFrame:
      ord_date  salesman_id
0   2012-10-05         5002
1   2012-09-10         5005
2   2012-10-05         5001
3   2012-08-17         5003
4   2012-09-10         5002
5   2012-07-27         5001
6   2012-09-10         5001
7   2012-10-10         5004
8   2012-10-10         5003
9   2012-06-27         5002
10  2012-08-17         5004
11  2012-04-25         5001

salesman_id
5001    2012-04-25
5002    2012-06-27
5003    2012-08-17
5004    2012-08-17
5005    2012-09-10
Name: ord_date, dtype: object