In [ ]:
import pandas as pd

attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]

df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

df.columns = attributes
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

1. Write a Python program to load the iris data from a given csv file into a dataframe and print the shape of the data, type of the data and first 3 rows.

In [6]:
print(df.shape)
print(type(df))
print(df.head(3))

(149, 5)
<class 'pandas.core.frame.DataFrame'>
   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa

3. Write a Python program to get the number of observations, missing values and nan values.

In [12]:
print(len(df))

print(df.isna().sum(),'\n')

print(df.isnull().sum())

149
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

5. Write a Python program to view basic statistical details like percentile, mean, std etc. of iris data.

In [13]:
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000