In [1]:
str = "MyNameisMeet"

In [2]:
str[0]

'M'

In [3]:
str[-2]

'e'

In [4]:
str[:]

'MyNameisMeet'

In [5]:
str[2:]

'NameisMeet'

In [6]:
str[:4]

'MyNa'

In [7]:
str[0:-1]

'MyNameisMee'

In [8]:
str[::2]

'MNmiMe'

In [9]:
str[::-1] # Reverse

'teeMsiemaNyM'

String => Immutable

In [10]:
name = "Meet"
# name[0] = "K" # => 'str' object does not support item assignment
print(name)

Meet

In [11]:
name * 2

'MeetMeet'

Methods

In [12]:
name = "Meet Kothari"

In [13]:
name.lower()

'meet kothari'

In [14]:
name.upper()

'MEET KOTHARI'

In [15]:
len(name)

12

In [16]:
name.split()

['Meet', 'Kothari']

In [17]:
name.split(' ')

['Meet', 'Kothari']

In [18]:
print(name) # Original String Remains Same

Meet Kothari

Print Formatting

In [19]:
print("My Name is {}".format("Meet"))

My Name is Meet

In [20]:
print("My {} is {} {}".format("Name", "Meet", "Kothari"))

My Name is Meet Kothari

In [21]:
print("My {0} is {2} {1}".format("Name", "Meet", "Kothari"))

My Name is Kothari Meet

In [23]:
print("My name is {fn} {ln}. and {ln} is My Surname".format(fn= "Meet", ln= "Kothari"))

My name is Meet Kothari. and Kothari is My Surname

Float formatting : {value.width.precision f}

In [24]:
num = 123/456
num

0.26973684210526316

In [41]:
print("Result: {n:1.3f}".format(n=num))

Result: 0.270

In [45]:
name = "Meet"
age = 20

using f-string

In [46]:
print(f"My Name is {name}. I am {age} Years Old")

My Name is Meet. I am 20 Years Old

Formatting With PlaceHolders

In [48]:
print("Hello %s %s." %("Meet","Kothari"))

Hello Meet Kothari.

Padding and Precision

In [54]:
print("Integer Number %d" %10.50)
print("Float Number %f" %10.505464563)
print("Float Number With Precision %1.3f" %10.505464563)
print("Float Number %10.3f" %10.505464563)

Integer Number 10
Float Number 10.505465
Float Number With Precision 10.505
Float Number     10.505

Alignment

In [55]:
print('{0:8} | {1:8} | {2:8}'.format('Left', 'Center', 'Right'))
print('{0:8} | {1:8} | {2:8}'.format(10,20,30))

Left     | Center   | Right
      10 |       20 |       30

In [56]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left', 'Center', 'Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(10,20,30))

Left     |  Center  |    Right
10       |    20    |       30

In [57]:
print('{0:=<8} | {1:+^8} | {2:=>8}'.format('Left', 'Center', 'Right'))
print('{0:=<8} | {1:+^8} | {2:=>8}'.format(10,20,30))

Left==== | +Center+ | ===Right
10====== | +++20+++ | ======30