List is a collection which is ordered and changeable. Allows duplicate members.

In [1]:
lst = [1,2,3]

In [4]:
print(type(lst))
print(len(lst))

<class 'list'>
3

In [15]:
lst1 = ['A', 'B', 'C']
lst2 = [1, 2, 3]

lst3 = lst1 + lst2
lst3

['A', 'B', 'C', 1, 2, 3]

In [16]:
lst3[:]

['A', 'B', 'C', 1, 2, 3]

In [17]:
lst3[2:]

['C', 1, 2, 3]

In [18]:
lst3[:4]

['A', 'B', 'C', 1]

In [19]:
lst3[1] = "Updated B"
lst3

['A', 'Updated B', 'C', 1, 2, 3]

In [20]:
lst3.append('Appended String')
lst3.append(10)
lst3

['A', 'Updated B', 'C', 1, 2, 3, 'Appended String', 10]

In [21]:
last_item = lst3.pop()
last_item

10

In [22]:
lst3

['A', 'Updated B', 'C', 1, 2, 3, 'Appended String']

Pop element by index

In [23]:
third_element = lst3.pop(2)
third_element

'C'

In [24]:
lst3

['A', 'Updated B', 1, 2, 3, 'Appended String']

In [25]:
l1 = [4,1,5,3,6]
l2 = ['a', 'v', 'd', 'r']

In [29]:
sorted_l1 = l1.sort() # sort doesn't return anything, directly sort the same list
print(sorted_l1)

None

In [30]:
l1

[1, 3, 4, 5, 6]

In [31]:
reverse_l1 = l1.reverse()
print(reverse_l1)

None

In [36]:
l1

[6, 5, 4, 3, 1]

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [37]:
dict1 = {'k1':'v1', 'k2':'v2'}
dict1

{'k1': 'v1', 'k2': 'v2'}

In [38]:
dict1['k1']

'v1'

In [39]:
d = {'k1':100, 'k2':200}
d

{'k1': 100, 'k2': 200}

In [40]:
d['k3'] = 300

In [41]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [42]:
d['k1'] = 1
d

{'k1': 1, 'k2': 200, 'k3': 300}

In [43]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [44]:
d.values()

dict_values([1, 200, 300])

In [45]:
d.items()

dict_items([('k1', 1), ('k2', 200), ('k3', 300)])

In [61]:
# Using dict()

d1 = dict(name= "Meet", last_name= "Kothari", age= 20)
d1

{'name': 'Meet', 'last_name': 'Kothari', 'age': 20}

In [62]:
d1.get('name')

'Meet'

In [63]:
d1.update({'age':21})
d1

{'name': 'Meet', 'last_name': 'Kothari', 'age': 21}

In [64]:
d1.update({'Address':"Surat"})
d1

{'name': 'Meet', 'last_name': 'Kothari', 'age': 21, 'Address': 'Surat'}

In [65]:
d1.pop("Address")
d1

{'name': 'Meet', 'last_name': 'Kothari', 'age': 21}

In [66]:
it1 = d1.popitem()
print(it1)

('age', 21)

In [67]:
d1

{'name': 'Meet', 'last_name': 'Kothari'}

In [68]:
d1.clear()
d1

{}

In [69]:
del d1

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [70]:
tup = (1,2,3,4)
print(tup)
print(len(tup))

(1, 2, 3, 4)
4

In [71]:
t1 = (1,2,3,4,2,3,4,1,2)

In [72]:
t1.count(2)

3

In [77]:
t1.index(int(4))

3

In [78]:
# Error
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [80]:
# Tuple with one item => have to use ,(comma)
tup1 = ('One')
print("tup1: ",type(tup1))

tup2 = ('One',)
print("tup2: ",type(tup2))

tup1:  <class 'str'>
tup2:  <class 'tuple'>

In [81]:
# Using tuple()
tup3 = tuple(('a', 1, 2, 'b')) # have to use (())
tup3

('a', 1, 2, 'b')

In [83]:
tup4 = ('a', 'b', 1)
tup5 = (2, 4, 'c')

tup4 = tup4 + tup5
tup4

('a', 'b', 1, 2, 4, 'c')

In [85]:
tup6 = (1,2,3)
a, b, c = tup6

print(a, b, c)

1 2 3

In [87]:
tup6 = (1,2,3,4,5)
a, b, *c = tup6 # * => asterisk

print(f"a: {a}, b: {b}, c:{c}")

a: 1, b: 2, c:[3, 4, 5]

In [88]:
tup6 = (1,2,3,4,5)
a, *b, c = tup6 # * => asterisk

print(f"a: {a}, b: {b}, c:{c}")

a: 1, b: [2, 3, 4], c:5