if, elif, else

In [5]:
isError = True

if isError:
    print('ERROR')
else:
    print("NO ERROR")

ERROR

In [11]:
num = 3

if num == 0:
    print("Number is 0")
elif num == 1:
    print("Number is 1")
else:
    print("Your Number is Not satisfy above conditions")

Your Number is Not satisfy above conditions

In [16]:
name = "Jay"

if name == "Meet":
    print("Hello Meet")
else:
    print("You are not Meet")

You are not Meet

For Loop
Iterable means We can "iterate" over the object

In [3]:
lst = list(range(0,10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for num in lst:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
for n in lst:
    if n % 2 == 0:
        print(n)
    else:
        print(f"{n} is Odd Number")

0
1 is Odd Number
2
3 is Odd Number
4
5 is Odd Number
6
7 is Odd Number
8
9 is Odd Number

In [9]:
sum = 0

for n in lst:
    sum  += n

    print(sum)

0
1
3
6
10
15
21
28
36
45

In [10]:
for char in 'Meet Kothari':
    print(char)

M
e
e
t

K
o
t
h
a
r
i

In [11]:
tup = ('A', 'B', 'C')

for t in tup:
    print(t)

A
B
C

In [12]:
lst1 = [(1,2), (3,4), (5,6)]

for item in lst1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [13]:
for a,b in lst1:
    print(a,b)

1 2
3 4
5 6

In [15]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(key, value)

k1 1
k2 2
k3 3

While Loop

In [18]:
num = 0

while num <= 5:
    print(f"Number is {num}")
    num += 1
# else:
#     print(f"{num} is greater than 5")

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
6 is greater than 5

Break, Continue, Pass

In [19]:
for char in 'ABCDEFGHIJK':
    if char == 'C':
        continue
    elif char == 'J':
        break
    print(char)

A
B
D
E
F
G
H
I

In [21]:
for i in "Meet":
    pass

Useful Operators

Range Function

In [24]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [25]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
i = 0

for letter in 'abcde':
    print(f"index: {i} => letter: {letter}")
    i+=1

index: 0 => letter: a
index: 1 => letter: b
index: 2 => letter: c
index: 3 => letter: d
index: 4 => letter: e

In [27]:
word = 'Hello'

for i in enumerate(word):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

Enumerate Function

In [28]:
word = 'Hello'

for index,letter in enumerate(word):
    print(index, letter)

0 H
1 e
2 l
3 l
4 o

Zip Function

In [36]:
l1 = [1,2,3,4]
l2 = ['a', 'b', 'c', 'd']
l3 = [100, 200, 300, 400]

for item in zip(l1, l2,l3):
    print(item)
    print(type(item))

(1, 'a', 100)
<class 'tuple'>
(2, 'b', 200)
<class 'tuple'>
(3, 'c', 300)
<class 'tuple'>
(4, 'd', 400)
<class 'tuple'>

In [37]:
1 in [1,2,3]

True

In [38]:
1 in [2,3]

False

In [43]:
d = {'name':'Meet'}
'Meet' in d.values()

True

In [44]:
from random import shuffle

lst = [0,1,2,3,4,5,6,7,8,9]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
shuffle(lst)
print(lst)

[8, 2, 4, 0, 5, 7, 3, 1, 6, 9]

In [47]:
new_lst = shuffle(lst) # suffle not return anything
print(new_lst)

None

In [49]:
from random import randint

In [53]:
num = randint(0,100)
num

88

In [54]:
name = input('Enter Your Name: ')

In [55]:
name

'Meet'