In [1]:
name = 'Meet'
lst = []

for char in name:
    lst.append(char)

lst

['M', 'e', 'e', 't']

In [5]:
name1 = "New Name"

lst1 = [char for char in name1]

In [6]:
lst1

['N', 'e', 'w', ' ', 'N', 'a', 'm', 'e']

In [9]:
lst2 = [num**2 for num in range(10)]
lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
lst3 = [num for num in range(0,11) if num%2==0] 
lst3

[0, 2, 4, 6, 8, 10]

In [12]:
celcius = [0, 10, -5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 23.0]

In [13]:
lst4 = [x if x%2==0 else 'ODD' for x in range(0,11)]
lst4

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [15]:
lst = []

for i in [1,2,3]:
    for j in [1,10,100]:
        lst.append(i*j)

lst

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [16]:
lst = [i*j for i in [1,2,3] for j in [1, 10,100]]
lst

[1, 10, 100, 2, 20, 200, 3, 30, 300]